@page "/"
@using Components.Genres
@inject HttpClient Http

<div class="d-flex justify-center align-items-center flex-wrap mt-10 text-center" style="height: 100vh;">
    <MudItem sm="12" class="d-flex justify-center align-items-center flex-wrap mt-10 text-center">
        <MudText Typo="Typo.h2" Align="Align.Center" Class="align-self-end" Style="width: 100%;" Color="Color.Error">
            <b>Música sin derechos de autor para tus videos</b></MudText>
    </MudItem>
    <MudItem sm="12" class="d-flex justify-center align-items-center flex-wrap mt-10 text-center">
        <MudText Typo="Typo.h6" Align="Align.Center" Style="width: 50%">Acceso a más de 10000 de canciones libre de
            derechos de autor</MudText>
    </MudItem>
    <MudItem sm="12" Class="d-flex justify-center align-item-center" Style="height: 50px">
        <MudButton Variant="Variant.Filled" Color="Color.Error">Start Trial</MudButton>
    </MudItem>
</div>

<MudSpacer />

@* <div class="d-flex justify-center align-items-center flex-wrap mt-10">
<GenreButton Genre="Electronica & Dance"
Image="https://www.epidemicsound.com/staticfiles/player/20230509.39-757647594589e8c7c3db0919edcffe55f590b35f/2f59a26381a96b52f323d776fabf5873.webp"></GenreButton>
</div> *@
<MudGrid style="width: 100%">
    <MudItem xs="6" class="d-flex justify-center align-items-center">
        <div style="width: 80%; display: flex; justify-content: center; align-items: center;">
            <MudText Typo="Typo.h3" Align="Align.Center" Class="mr-4 ml-10">
                <b>Música libre de regalías para descargar o transmitir dentro de una librería de más de 10000 canciones</b>
            </MudText>
        </div>
    </MudItem>

    <MudItem xs="6" class="d-flex">
        <MudGrid>
            <MudItem xs="12" class="d-flex">
                <MudItem xs="3">
                    <GenreButton GenreName="Sabor Peruano"
                        Image="images/sabor-peruano.jpeg">
                    </GenreButton>
                </MudItem>
                <MudItem xs="3">
                    <GenreButton GenreName="Effects"
                        Image="images/effects.jpeg">
                    </GenreButton>
                </MudItem>
                <MudItem xs="3">
                    <GenreButton GenreName="High Energy"
                        Image="images/high-energy.jpeg">
                    </GenreButton>
                </MudItem>
                <MudItem xs="3">
                    <GenreButton GenreName="Trailer Epico"
                        Image="images/trailer-epico.jpeg">
                    </GenreButton>
                </MudItem>
            </MudItem>
            <MudItem xs="12" class="d-flex">
                <MudItem xs="3">
                    <GenreButton GenreName="Aventura"
                        Image="images/aventura.jpeg">
                    </GenreButton>
                </MudItem>
                <MudItem xs="3">
                    <GenreButton GenreName="Attitude"
                        Image="images/attitude.jpeg">
                    </GenreButton>
                </MudItem>
                <MudItem xs="3">
                    <GenreButton GenreName="Summer"
                        Image="images/verano.jpeg">
                    </GenreButton>
                </MudItem>
                <MudItem xs="3">
                    <GenreButton GenreName="Winter"
                        Image="images/invierno.webp">
                    </GenreButton>
                </MudItem>
            </MudItem>
            <MudItem xs="12" class="d-flex">
                <MudItem xs="3">
                    <GenreButton GenreName="Spring"
                        Image="images/primavera.jpeg">
                    </GenreButton>
                </MudItem>
                <MudItem xs="3">
                    <GenreButton GenreName="Autumn"
                        Image="images/otoño.jpeg">
                    </GenreButton>
                </MudItem>
                <MudItem xs="3">
                    <GenreButton GenreName="Jingles"
                        Image="images/jingle.jpeg">
                    </GenreButton>
                </MudItem>
                <MudItem xs="3">
                    <GenreButton GenreName="Gospel"
                        Image="images/gospel.webp">
                    </GenreButton>
                </MudItem>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>


<MudGrid xs="6" Class="d-flex" style="width: 100%; min-height: 50vh">
    <MudItem xs="6" class="d-flex align-center">
        <MudItem xs="12" class="align-center ml-16">
            <MudItem xs="12" Class="mt-10">
                <MudText Typo="Typo.h4" Align="Align.Left" Class="mr-4 ml-4">
                    <b>Prueba gratis</b>
                </MudText>
                <MudText Typo="Typo.h6" Align="Align.Start" Class="mr-4 ml-4">
                    Te ofrecemos acceso limitado al catalogo entero por 30 días. Podrás descargar y utilizar todas nuestras pistas durante ese tiempoImagen
                </MudText>
            </MudItem>
            <MudItem xs="12" Class="mt-10">
                <MudText Typo="Typo.h4" Align="Align.Left" Class="mr-4 ml-4">
                    <b>Elije una suscripción</b>
                </MudText>
                <MudText Typo="Typo.h6" Align="Align.Start" Class="mr-4 ml-4">
                    Conoce nuestros planes: [Básico], [Premium] y [Empresarial] y elije el que se acomode a tú necesidad.
                </MudText>
            </MudItem>
            <MudItem xs="12" Class="mt-10">
                <MudText Typo="Typo.h4" Align="Align.Left" Class="mr-4 ml-4">
                    <b>Descubre pago individual</b>
                </MudText>
                <MudText Typo="Typo.h6" Align="Align.Start" Class="mr-4 ml-4">
                    Ideal para aquellos que necesitan una sola pista sin necesidad de una suscripción.
                </MudText>
            </MudItem>
        </MudItem>
    </MudItem>

    <MudItem xs="6" class="d-flex justify-center align-center">
        <MudImage Src="images/producer-rest.jpeg" Alt="Mony the dog" 
              Width="650" Style="max-width: 100%; max-height: 50vh;"
              Elevation="25" Class="rounded-lg" ObjectFit="ObjectFit.Cover"/>
    </MudItem>
</MudGrid>

<MudSpacer/>


<MudGrid Class="mt-16" style="width: 100%; height: 50vh">
    <MudItem xs="12" Class="d-flex" Style="height: 60px">
        <MudItem xs="8">
            <MudText Typo="Typo.h3" Align="Align.Start" Class="mr-4 ml-16">
                <b>Nuestras suscripciones</b>
            </MudText>
        </MudItem>
        <MudItem xs="4" class="d-flex justify-start align-start">
            <MudButtonGroup Color="Color.Primary" OverrideStyles="false" Variant="Variant.Outlined">
                <MudButton Style="@mensual" OnClick="@(()=> OnSuscriptionSelect("Mensual"))">Mensual</MudButton>
                <MudButton Style="@trimestral" OnClick="@(()=> OnSuscriptionSelect("Trimestral"))">Trimestral</MudButton>
                <MudButton Style="@anual" OnClick="@(()=> OnSuscriptionSelect("Anual"))">Anual</MudButton>
            </MudButtonGroup>
        </MudItem>
    </MudItem>
    <MudItem xs="12" Class="d-flex justify-center mt-8">
        <MudGrid  Style="width: 80%">
            <MudItem xs="4">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5"><b>Plan Básico</b></MudText>
                            <MudText Typo="Typo.h3">
                                @if(mensual == selectedColor)
                                {
                                    <b>$9.99</b>
                                }
                                else if(trimestral == selectedColor)
                                {
                                    <b>$24.99</b>
                                }
                                else if(anual == selectedColor)
                                {
                                    <b>$79.99</b>
                                }
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText>•	Acceso completo al catálogo de música peruana libre de regalías.</MudText>
                        <MudText>•	Descarga ilimitada de pistas en calidad estándar.</MudText>
                        <MudText>•	Posibilidad de transmitir música en línea sin restricciones.</MudText>
                        <MudText>•	Interfaz sencilla y fácil de usar.</MudText>
                        <MudText>•	Actualizaciones periódicas del catálogo.</MudText>
                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-center">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary">Start free trial</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
            <MudItem xs="4">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5"><b>Plan Premium</b></MudText>
                            <MudText Typo="Typo.h3">
                                @if(mensual == selectedColor)
                                {
                                    <b>$14.99</b>
                                }
                                else if(trimestral == selectedColor)
                                {
                                    <b>$39.99</b>
                                }
                                else if(anual == selectedColor)
                                {
                                    <b>$129.99</b>
                                }
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText>•	Todas las características del Plan Básico.</MudText>
                        <MudText>•	Descarga ilimitada de pistas en calidad de alta definición.</MudText>
                        <MudText>•	Descarga de pistas individuales por instrumentos.</MudText>
                        <MudText>•	Herramientas de edición avanzadas en la plataforma.</MudText>
                        <MudText>•	Acceso a contenido exclusivo y nuevas incorporaciones antes que otros planes.</MudText>
                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-center">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary">Start free trial</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
            <MudItem xs="4">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5"><b>Plan Empresarial</b></MudText>
                            <MudText Typo="Typo.h3">
                                @if(mensual == selectedColor)
                                {
                                    <b>$29.99</b>
                                }
                                else if(trimestral == selectedColor)
                                {
                                    <b>$79.99</b>
                                }
                                else if(anual == selectedColor)
                                {
                                    <b>$249.99</b>
                                }
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText>•	Todas las características del Plan Premium.</MudText>
                        <MudText>•	Licencia extendida para uso comercial y proyectos empresariales.</MudText>
                        <MudText>•	Descarga de pistas en diferentes formatos y calidades según las necesidades técnicas.</MudText>
                        <MudText>•	Servicio de atención al cliente prioritario.</MudText>
                        <MudText>•	Personalización de la plataforma y opciones de branding para empresas.</MudText>
                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-center">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary">Start free trial</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>



@code
{
    string defaultColor = "border: 1px solid white; color: white";
    string selectedColor = "border: 1px solid red; color: red";

    string mensual = "";
    string trimestral = "";
    string anual = "";

    protected override async Task OnInitializedAsync()
    {
        mensual = selectedColor;
        trimestral = defaultColor;
        anual = defaultColor;
        //var content = await Http.GetStringAsync("data/NoMusicData.csv");
        //Console.WriteLine(content);
    }

    private void OnSuscriptionSelect(string suscription)
    {
        

        switch (suscription)
        {
            case "Mensual":
                mensual = selectedColor;
                trimestral = defaultColor;
                anual = defaultColor;
                break;
            case "Trimestral":
                mensual = defaultColor;
                trimestral = selectedColor;
                anual = defaultColor;
                break;
            case "Anual":
                mensual = defaultColor;
                trimestral = defaultColor;
                anual = selectedColor;
                break;
        }
    }
}